# version: '3.8'

# services:
#   backend:
#     build: ./backend
#     container_name: backend
#     ports:
#       - "5001:5001"
#     env_file:
#       - ./backend/.env
#     depends_on:
#       - mongo

#   frontend:
#     build: ./frontend
#     # args:
#     #     VITE_API_URL: "http://backend:5001"
#     container_name: frontend
#     ports:
#       - "5173:80"
#     depends_on:
#       - backend
#     environment:
#       - VITE_API_URL=http://backend:5001 

#   mongo:
#     image: mongo
#     container_name: mongo
#     ports:
#       - "27017:27017"
#     volumes:
#       - mongo_data:/data/db

# volumes:
#   mongo_data:
version: '3.8'

services:
  backend:
    build: ./backend
    image: sushmaagowdaa/mern-backend
    container_name: backend
    ports:
      - "5001:5001"
    env_file:
      - ./backend/.env
    depends_on:
      - mongo

  frontend:
    build:
      context: ./frontend
    image: sushmaagowdaa/mern-frontend
    container_name: frontend
    ports:
      - "5173:80"
    depends_on:
      - backend

  mongo:
    image: mongo
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
